h745_fw/CM4/.settings/language.settings.xml
h745_fw/CM4/Debug/
h745_fw/CM7/Debug/
h745_fw/sdk/lib/cube_h745/CM4/.settings/language.settings.xml
h745_fw/sdk/lib/cube_h745/CM7/.settings/language.settings.xml
h745_fw/CM7/.settings/language.settings.xml
